.hotelContainer{
    width: 100%;
    padding: 20px;
}
.hotel{
    width:70%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.hotel img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.hotel .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
button {
    width: fit-content;
    text-align: center;
    /* background: #0d634f; */
    border: 2px solid #1a7d66;
    box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
    color: #f4f8f7;
    cursor: pointer;
    font-weight: 670;
    padding: 10px 15px;
    text-decoration: none;
}
button:hover{
    background: #0d634f;
    > a{
        color: #f4f8f7;
        text-decoration: none;
    }
}